.navbar .navlink{
    color: #000;
    text-decoration: none;
    margin: 5px 10px
} 

.navbar-brand{
    font-family: 'Dosis', sans-serif;
}

.navbar-brand:hover{
    background-color: #5FCF80;
}

.navbar-nav .navlink:hover, .navlink:focus{
    color: #5FCF80;
}
